/* menu-bar.component.scss */
@import "typography";
@import "variables";

header {
  width: 100%;
  background-color: var(--quaternary);
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin: 0 12px;

    .menu-bar-left {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-icon {
        margin-right: 12px;
        img {
          width: 18px; /* adjust as needed */
          height: 18px; /* adjust as needed */
          cursor: pointer;
        }
        & ul {
          flex-direction: column;
          display: none;
          justify-content: center;
          align-items: flex-start;
          padding: 4px 10px;
          gap: 10px;

          position: absolute;
          left: 0;
          top: 24px;
          margin-top: 1px;
          min-width: 152px;
          background: var(--background-default);
          border-radius: 5px;
          border: 0.5px solid --var(--tertiary-label);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          & li {
            padding: 3px 2px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            width: 100%;
            font: $headline-regular;
            & div {
              padding-bottom: 2px;
              cursor: pointer;
            }
            &:last-child {
              border-bottom: 0;
              padding-bottom: 0 !important;
            }
          }
          & a {
            text-decoration: none;
            color: var(--text);
          }
        }
        &:hover {
          ul {
            display: flex;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        gap: 16px;
        & .menu-bar-item {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          @include headline-regular();
          color: var(--alternate-selected-control-text);
          padding: 4px;
          &:hover {
            background-color: --var(--tertiary-label);
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }

    .menu-bar-right {
      display: flex;
      align-items: center;
      margin-left: auto;
      & ul {
        display: flex;
        align-items: center;
        gap: 12px;
        > .menu-bar-item {
          display: flex;
          align-items: center;
          color: var(--alternate-selected-control-text);

          @include headline-regular();
          &:hover {
            background-color: --var(--tertiary-label);
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.battery-icon {
  border-radius: 4px;
  position: relative;
  background: transparent;
  user-select: none;
  height: 100%;
  margin: 0px 4px;
  & .battery-container {
    border-radius: 4px;
    border: 1px solid white;
    padding: 1px;
    position: relative;
    width: 20px;
    height: 8px;

    & .battery-level {
      width: 100%;
      height: 100%;
      background-color: #4caf50;
      border-radius: 2px;
    }
    & :before {
      content: "";
      background: white;
      width: 3px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
