<header>
  <nav class="menu-bar">
    <div class="menu-bar-left">
      <div class="menu-icon">
        <img src="assets/icons-system/apple.svg" alt="Apple logo" />
        <ul>
          <li>
            <div>
              <a href="https://gitlab.com/tebib91/os-front" target="_blank"
                >About This Mac</a
              >
            </div>
          </li>
          <li>
            <div>System Preferences...</div>
          </li>
          <li>
            <div>Recent Items</div>
          </li>
          <li>
            <div>Force Quit Finder</div>
          </li>
          <li>
            <div>Sleep</div>
            <div onClick="window.location.reload();">Restart...</div>
            <div>Shut Down...</div>
          </li>
          <li>
            <div>Lock Screen</div>
            <div>Log Out</div>
          </li>
        </ul>
      </div>
      <ul>
        <li class="menu-bar-item" *ngFor="let item of items">
          <span>{{ item.label }}</span>
        </li>
      </ul>
    </div>
    <div class="menu-bar-right">
      <ul>
        <li class="menu-bar-item">
          <div *ngIf="batteryLevel">
            {{ (batteryLevel | number : "1.0-0") + "% " }}
          </div>
          <div class="battery-icon">
            <div class="battery-container">
              <div
                class="battery-level"
                [ngStyle]="{ width: batteryLevel + '%' }"
              ></div>
            </div>
          </div>
        </li>
        <li class="menu-bar-item">
          <img
            src="assets/icons-system/icons-system-user.svg"
            alt="icon system"
          />
        </li>
        <li class="menu-bar-item" (click)="controlVisible = !controlVisible">
          <img src="assets/icons-system/icons-system.svg" alt="icon system" />
        </li>
        <li class="menu-bar-item">{{ currentTime | date : "shortTime" }}</li>
      </ul>
    </div>
  </nav>
</header>

<!-----Widget---->
<div class="control_center">
  <app-control-center [visible]="controlVisible"></app-control-center>
</div>
