@use 'sass:color';
@use '../variables';

// Button styles
button {
  // Default size
  padding: variables.$button-padding;
  font-size: variables.$button-font-size;
  font-weight: variables.$button-font-weight;

  // Colors and borders
  background-color: variables.$button-background-color;
  color: variables.$button-color;
  border-radius: variables.$button-border-radius;
  border: variables.$button-border;
  cursor: pointer;
  // Transitions
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$button-hover-background-color;
    color: variables.$button-hover-color;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  :focus-visible {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    background-color: color.adjust(
      variables.$button-background-color,
      $lightness: -10%
    );
  }

  // Small size
  &.small {
    padding: variables.$button-small-padding;
    font-size: variables.$button-small-font-size;
  }

  // Large size
  &.large {
    padding: variables.$button-large-padding;
    font-size: variables.$button-large-font-size;
  }

  // Primary style
  &.primary {
    background-color: variables.$button-background-color;
    color: variables.$button-color;
    outline: none;
    &:hover {
      background-color: variables.$button-hover-background-color;
      color: variables.$button-hover-color;
    }

    &:active {
      background-color: color.adjust(
        variables.$button-background-color,
        $lightness: -10%
      );
    }
  }

  // Round style
  &.round {
    width: 28px;
    height: 28px;
    background-color: variables.$button-background-color;
    border-radius: 16px;
    outline: none;
    &:hover {
      background-color: variables.$button-hover-background-color;
    }

    &:active {
      background-color: color.adjust(
        variables.$button-background-color,
        $lightness: -10%
      );
    }
  }
  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    img {
      fill: currentColor;
    }
  }
}
