<div class="boot-screen">
  <img
    class="boot-screen__logo"
    src="assets/images/apple-logo.png"
    alt="apple-logo"
  />

  <div class="boot-screen__progress-bar">
    <p>For better experience open full screen mode</p>
    <button class="full" *ngIf="!isFullScreen" (click)="openFullscreen()">
      <span>press here</span>
    </button>
    <mat-progress-bar
      *ngIf="isFullScreen"
      mode="determinate"
      [value]="progressBarValue"
      [style]="{ height: '6px' }"
    ></mat-progress-bar>
  </div>
</div>
