// .cdk-drag-handle {
//   cursor: move;
// }

.window {
  min-width: 400px; // Set the minimum width of the window
  min-height: 300px; // Set the minimum height of the window
  width: 100%; // Full width initially
  height: 100%; // Full height initially
  overflow: hidden;
  background-color: var(--window-background);
  border: 0.5px solid var(--alternate-content-background-border);
  border-radius: 10px;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;

  & .window-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grid-border);
    padding: 8px 0px;
    width: 100%;

    .window-icon {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      margin-right: 8px;
    }

    .window-title {
      flex-grow: 1;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }

  & .window-body {
    overflow-x: hidden;
  }
}
