@import "variables";

.wrapper {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  color: var(--text-color);
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  padding: 1rem;
  & .main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.content-banner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
    linear-gradient(
      to right top,
      #cf4af3,
      #e73bd7,
      #f631bc,
      #fd31a2,
      #ff3a8b,
      #ff4b78,
      #ff5e68,
      #ff705c,
      #ff8c51,
      #ffaa49,
      #ffc848,
      #ffe652
    );
  gap: 16px;
  border-radius: 7px;
  padding: 1rem 0;
  & img {
    width: 56px;
    height: auto;
  }
  & .content-text {
    color: white;
    text-align: justify;
  }
  & .content-img {
    width: 186px;
    object-fit: cover;
    object-position: center;
    @media screen and (max-width: 570px) {
      width: 110px;
    }
  }
}

.content-skills {
  background: #5856d6;
  height: 160px;
  display: flex;
  & .info {
    width: 136px;
    padding: 12px;
    background: rgba(244, 245, 245, 0.85);
    backdrop-filter: blur(48px);
    h3 {
      font: $caption-1-bold;
      color: rgba(0, 0, 0, 0.5);
    }
    p {
      font: $headline-regular;
    }
    span {
      font: $footnote-regular;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.content-experiences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
  > .experiences {
    gap: 12px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));

    gap: 1rem;
    width: 100%;
    > .content-experience {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 21px;
      height: 44px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 5px;
      }
      & .title {
        gap: 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}
