<div class="calculator">
  <div class="display">
    {{ operations.join(" ") }}
  </div>
  <div class="buttons">
    <button (click)="clear()">C</button>
    <button (click)="divide()">/</button>
    <button (click)="multiply()">*</button>
    <button (click)="subtract()">-</button>
    <button (click)="add()">+</button>
    <button (click)="squareRoot()">x²</button>
    <button *ngFor="let num of numbers" (click)="enterNumber(num)">
      {{ num }}
    </button>
    <button (click)="enterDecimal()">.</button>
    <button (click)="equals()">=</button>
  </div>
</div>
