<div class="wrapper" *ngIf="visible">
  <div class="controls-wrapper">
    <div class="controls">
      <div class="item">
        <button class="primary round icon">
          <img src="assets/icons-system/wifi.svg" alt="wifi.svg" />
        </button>
        <div class="text">
          <span>Wi-Fi</span>
          <span>Me</span>
        </div>
      </div>
      <div class="item">
        <button class="primary round icon">
          <img
            src="assets/icons-system/radio-waves.svg"
            alt="radio-waves.svg"
          />
        </button>
        <div class="text">
          <span>Bluetooth</span>
          <span>Off</span>
        </div>
      </div>
      <div class="item">
        <button class="primary round icon">
          <img src="assets/icons-system/airdrop.svg" alt="airdrop.svg" />
        </button>
        <div class="text">
          <span>AirDrop</span>
          <span>Off</span>
        </div>
      </div>
    </div>
    <div class="disturb">
      <img src="assets/icons-system/disturb.svg" alt="disturb.svg" />
      <div class="text">
        <span>Do Not <br />Disturb</span>
      </div>
    </div>
    <div class="keyboard">
      <img
        src="assets/icons-system/Keyboard-brightness.svg"
        alt="keyboard svg"
      />
      <div class="text">
        <span>Keyboard Brightness</span>
      </div>
    </div>
    <div class="mirror">
      <img src="assets/icons-system/mirror.svg" alt="mirror svg" />
      <div class="text">
        <span>Screen Mirror</span>
      </div>
    </div>
  </div>

  <div class="range">
    <div class="title">
      <label for="brightness">Display</label>
      <img src="assets/icons-system/chevron-right.svg" alt="chevron right" />
    </div>
    <input
      type="range"
      name="brightness"
      id="brightness"
      min="0"
      max="100"
      step="1"
      value="100"
      (input)="brightnessChange($event)"
    />
  </div>
  <div class="music">
    <img class="icon_dock" src="assets/dock/music.png" alt="music icon" />
    <p>The best songs of 2022</p>
    <div class="icons">
      <img src="assets/icons-system/play.svg" alt="play" />
      <img src="assets/icons-system/forward.svg" alt="chevron right" />
    </div>
  </div>
  <div class="range">
    <div class="title">
      <label for="sound">Sound</label>
      <img src="assets/icons-system/chevron-right.svg" alt="chevron right" />
    </div>
    <input
      type="range"
      name="sound"
      id="sound"
      min="0"
      max="100"
      step="1"
      value="100"
      (input)="soundChange($event)"
    />
  </div>
</div>
