// Light theme
$primary-color: #ffffff !default;
$secondary-color: #000000 !default;

// Dark theme
$dark-primary-color: #212121;
$dark-secondary-color: #ffffff;

$light-quaternary: rgba(0, 0, 0, 0.1);
// Current theme

$font-size-base: 14px;

//typoghraphy

$large-title-regular: 400 1.625rem/2rem SF Pro Display;
$large-title-bold: 700 1.625rem/2rem SF Pro Display;
$title-1-regular: 400 1.375rem/1.625rem SF Pro Display;
$title-1-bold: 700 1.375rem/1.625rem SF Pro Display;
$title-2-regular: 400 1.0625rem/1.375rem SF Pro Display;
$title-2-bold: 700 1.0625rem/1.375rem SF Pro Display;
$title-3-regular: 400 0.9375rem/1.25rem SF Pro Display;
$title-3-bold: 700 0.9375rem/1.25rem SF Pro Display;
$headline-regular: 400 0.8125rem/1rem SF Pro Display;
$headline-bold: 600 0.8125rem/1rem SF Pro Display;
$subheadline-regular: 400 0.6875rem/0.875rem SF Pro Display;
$subheadline-bold: 600 0.6875rem/0.875rem SF Pro Display;
$body-regular: 400 0.8125rem/1rem SF Pro Display;
$body-bold: 600 0.8125rem/1rem SF Pro Display;
$callout-regular: 400 0.75rem/0.9375rem SF Pro Display;
$callout-bold: 600 0.75rem/0.9375rem SF Pro Display;
$footnote-regular: 400 0.625rem/0.8125rem SF Pro Display;
$footnote-bold: 600 0.625rem/0.8125rem SF Pro Display;
$caption-1-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-1-bold: 500 0.625rem/0.8125rem SF Pro Display;
$caption-2-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-2-bold: 500 0.625rem/0.8125rem SF Pro Display;
