$light-find-highlighting: rgba(255, 255, 0, 1);
$light-grid: rgba(230, 230, 230, 1);
$light-header-text: rgba(0, 0, 0, 0.85);
$light-label: rgba(0, 0, 0, 0.85);
$light-link: rgba(0, 104, 218, 1);
$light-placeholder-text: rgba(0, 0, 0, 0.25);
$light-quaternary: rgba(0, 0, 0, 0.1);
$light-secondary: rgba(0, 0, 0, 0.5);
$light-separator: rgba(0, 0, 0, 0.1);
$light-text: rgba(0, 0, 0, 1);
$light-alternate-selected-control-text: rgba(255, 255, 255, 1);
$light-alternate-content-background: rgba(244, 245, 245, 1);
$light-control-accent: rgba(0, 122, 255, 1);
$light-control-background: rgba(255, 255, 255, 1);
$light-control-regular: rgba(255, 255, 255, 1);
$light-control-text-regular: rgba(0, 0, 0, 0.85);
$light-control-text-disabled: rgba(0, 0, 0, 0.25);
$light-keyboard-focus-indicator: rgba(0, 103, 244, 0.25);
$light-selected-control-text: rgba(0, 0, 0, 0.85);
$light-selected-text-background: rgba(179, 215, 255, 1);
$light-selected-text: rgba(0, 0, 0, 1);
$light-selected-content-background: rgba(0, 99, 225, 1);
$light-selected-content-control: rgba(179, 215, 255, 1);
$light-selected-menu-item-text: rgba(255, 255, 255, 1);
$light-system-blue: rgba(0, 122, 255, 1);
$light-system-brown: rgba(162, 132, 94, 1);
$light-system-gray: rgba(142, 142, 147, 1);
$light-system-green: rgba(52, 199, 89, 1);
$light-system-indigo: rgba(88, 86, 214, 1);
$light-system-orange: rgba(255, 149, 0, 1);
$light-system-pink: rgba(255, 45, 85, 1);
$light-system-purple: rgba(175, 82, 222, 1);
$light-system-red: rgba(255, 59, 48, 1);
$light-system-teal: rgba(85, 190, 240, 1);
$light-system-yellow: rgba(255, 204, 0, 1);
$light-tertiary-label: rgba(0, 0, 0, 0.26);
$light-tertiary-text-background: rgba(255, 255, 255, 1);
$light-under-page-background: rgba(150, 150, 150, 0.9);
$light-unemphasized-selected-text: rgba(0, 0, 0, 1);
$light-unemphasized-selected-content-background: rgba(220, 220, 220, 1);
$light-unemphasized-selected-text-background: rgba(220, 220, 220, 1);
$light-window-background: rgba(236, 236, 236, 1);
$light-window-frame-text: rgba(0, 0, 0, 0.85);
$dark-find-highlighting: rgba(255, 255, 0, 1);
$dark-grid: rgba(26, 26, 26, 1);
$dark-header-text: rgba(255, 255, 255, 1);
$dark-label: rgba(255, 255, 255, 0.85);
$dark-link: rgba(65, 156, 255, 1);
$dark-placeholder-text: rgba(255, 255, 255, 0.25);
$dark-quaternary: rgba(255, 255, 255, 0.1);
$dark-secondary: rgba(255, 255, 255, 0.55);
$dark-separator: rgba(255, 255, 255, 0.1);
$dark-text: rgba(255, 255, 255, 1);
$dark-alternate-selected-control-text: rgba(255, 255, 255, 1);
$dark-alternate-content-background: rgba(255, 255, 255, 0.05);
$dark-control-accent: rgba(0, 122, 255, 1);
$dark-control-background: rgba(30, 30, 30, 1);
$dark-control-regular: rgba(255, 255, 255, 0.25);
$dark-control-text-regular: rgba(255, 255, 255, 0.85);
$dark-control-text-disabled: rgba(255, 255, 255, 0.25);
$dark-keyboard-focus-indicator: rgba(26, 169, 255, 0.3);
$dark-selected-control-text: rgba(255, 255, 255, 0.85);
$dark-selected-text-background: rgba(63, 99, 139, 1);
$dark-selected-text: rgba(255, 255, 255, 1);
$dark-selected-content-background: rgba(0, 88, 208, 1);
$dark-selected-content-control: rgba(63, 99, 139, 1);
$dark-selected-menu-item-text: rgba(255, 255, 255, 1);
$dark-system-blue: rgba(10, 132, 255, 1);
$dark-system-brown: rgba(172, 142, 104, 1);
$dark-system-gray: rgba(152, 152, 157, 1);
$dark-system-green: rgba(48, 209, 88, 1);
$dark-system-indigo: rgba(94, 92, 230, 1);
$dark-system-orange: rgba(255, 159, 10, 1);
$dark-system-pink: rgba(255, 55, 95, 1);
$dark-system-purple: rgba(191, 90, 242, 1);
$dark-system-red: rgba(255, 69, 58, 1);
$dark-system-teal: rgba(90, 200, 245, 1);
$dark-system-yellow: rgba(255, 214, 10, 1);
$dark-tertiary-label: rgba(255, 255, 255, 0.26);
$dark-tertiary-text-background: rgba(30, 30, 30, 1);
$dark-under-page-background: rgba(40, 40, 40, 1);
$dark-unemphasized-selected-text: rgba(255, 255, 255, 1);
$dark-unemphasized-selected-content-background: rgba(70, 70, 70, 1);
$dark-unemphasized-selected-text-background: rgba(70, 70, 70, 1);
$dark-window-background: rgba(50, 50, 50, 1);
$dark-window-frame-text: rgba(255, 255, 255, 0.85);

// default color theme;
$white: #fff;

$font-size-base: 14px;

//typoghraphy

$large-title-regular: 400 1.625rem/2rem SF Pro Display;
$large-title-bold: 700 1.625rem/2rem SF Pro Display;
$title-1-regular: 400 1.375rem/1.625rem SF Pro Display;
$title-1-bold: 700 1.375rem/1.625rem SF Pro Display;
$title-2-regular: 400 1.0625rem/1.375rem SF Pro Display;
$title-2-bold: 700 1.0625rem/1.375rem SF Pro Display;
$title-3-regular: 400 0.9375rem/1.25rem SF Pro Display;
$title-3-bold: 700 0.9375rem/1.25rem SF Pro Display;
$headline-regular: 400 0.8125rem/1rem SF Pro Display;
$headline-bold: 600 0.8125rem/1rem SF Pro Display;
$subheadline-regular: 400 0.6875rem/0.875rem SF Pro Display;
$subheadline-bold: 600 0.6875rem/0.875rem SF Pro Display;
$body-regular: 400 0.8125rem/1rem SF Pro Display;
$body-bold: 600 0.8125rem/1rem SF Pro Display;
$callout-regular: 400 0.75rem/0.9375rem SF Pro Display;
$callout-bold: 600 0.75rem/0.9375rem SF Pro Display;
$footnote-regular: 400 0.625rem/0.8125rem SF Pro Display;
$footnote-bold: 600 0.625rem/0.8125rem SF Pro Display;
$caption-1-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-1-bold: 500 0.625rem/0.8125rem SF Pro Display;
$caption-2-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-2-bold: 500 0.825rem/0.8125rem SF Pro Display;
$caption-3-regular: 400 0.586rem/0.8125rem SF Pro Display;

//button
$button-padding: 6px 8px;
$button-background-color: #007aff;
$button-color: #fff;
$button-border-radius: 7px;
$button-border: none;
$button-font-size: 13px;
$button-font-weight: 400;
$button-hover-color: #fff;
$button-hover-background-color: #0069d9;
$button-focus-box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
// Button sizes
$button-small-padding: 5px 10px;
$button-small-font-size: 12px;

$button-large-padding: 12px 20px;
$button-large-font-size: 16px;
