$light-find-highlighting: #ffff00;
$light-grid: #e6e6e6;
$light-header-text: #000000;
$light-label: #000000;
$light-link: #0068da;
$light-placeholder-text: #000000;
$light-quaternary: #000000;
$light-secondary: #000000;
$light-separator: #000000;
$light-text: #000000;
$light-alternate-selected-control-text: #ffffff;
$light-alternate-content-background: #f4f5f5;
$light-control-accent: #007aff;
$light-control-background: #ffffff;
$light-control-regular: #ffffff;
$light-control-text-regular: #000000;
$light-control-text-disabled: #000000;
$light-keyboard-focus-indicator: #0067f4;
$light-selected-control-text: #000000;
$light-selected-text-background: #b3d7ff;
$light-selected-text: #000000;
$light-selected-content-background: #0063e1;
$light-selected-content-control: #b3d7ff;
$light-selected-menu-item-text: #ffffff;
$light-system-blue: #007aff;
$light-system-brown: #a2845e;
$light-system-gray: #8e8e93;
$light-system-green: #34c759;
$light-system-indigo: #5856d6;
$light-system-orange: #ff9500;
$light-system-pink: #ff2d55;
$light-system-purple: #af52de;
$light-system-red: #ff3b30;
$light-system-teal: #55bef0;
$light-system-yellow: #ffcc00;
$light-tertiary-label: #000000;
$light-tertiary-text-background: #ffffff;
$light-under-page-background: #969696;
$light-unemphasized-selected-text: #000000;
$light-unemphasized-selected-content-background: #dcdcdc;
$light-unemphasized-selected-text-background: #dcdcdc;
$light-window-background: #ececec;
$light-window-frame-text: #000000;

// dark colors
$dark-find-highlighting: #ffff00;
$dark-grid: #1a1a1a;
$dark-header-text: #ffffff;
$dark-label: #ffffff;
$dark-link: #419cff;
$dark-placeholder-text: #ffffff;
$dark-quaternary: #ffffff;
$dark-secondary: #ffffff;
$dark-separator: #ffffff;
$dark-text: #ffffff;
$dark-alternate-selected-control-text: #ffffff;
$dark-alternate-content-background: #ffffff;
$dark-control-accent: #007aff;
$dark-control-background: #1e1e1e;
$dark-control-regular: #ffffff;
$dark-control-text-regular: #ffffff;
$dark-control-text-disabled: #ffffff;
$dark-keyboard-focus-indicator: #1aa9ff;
$dark-selected-control-text: #ffffff;
$dark-selected-text-background: #3f638b;
$dark-selected-text: #ffffff;
$dark-selected-content-background: #0058d0;
$dark-selected-content-control: #3f638b;
$dark-selected-menu-item-text: #ffffff;
$dark-system-blue: #0a84ff;
$dark-system-brown: #ac8e68;
$dark-system-gray: #98989d;
$dark-system-green: #30d158;
$dark-system-indigo: #5e5ce6;
$dark-system-orange: #ff9f0a;
$dark-system-pink: #ff375f;
$dark-system-purple: #bf5af2;
$dark-system-red: #ff453a;
$dark-system-teal: #5ac8f5;
$dark-system-yellow: #ffd60a;
$dark-tertiary-label: #ffffff;
$dark-tertiary-text-background: #1e1e1e;
$dark-under-page-background: #282828;
$dark-unemphasized-selected-text: #ffffff;
$dark-unemphasized-selected-content-background: #464646;
$dark-unemphasized-selected-text-background: #464646;
$dark-window-background: #323232;
$dark-window-frame-text: #ffffff;

// default color theme;
$white: #fff;

$font-size-base: 14px;

//typoghraphy

$large-title-regular: 400 1.625rem/2rem SF Pro Display;
$large-title-bold: 700 1.625rem/2rem SF Pro Display;
$title-1-regular: 400 1.375rem/1.625rem SF Pro Display;
$title-1-bold: 700 1.375rem/1.625rem SF Pro Display;
$title-2-regular: 400 1.0625rem/1.375rem SF Pro Display;
$title-2-bold: 700 1.0625rem/1.375rem SF Pro Display;
$title-3-regular: 400 0.9375rem/1.25rem SF Pro Display;
$title-3-bold: 700 0.9375rem/1.25rem SF Pro Display;
$headline-regular: 400 0.8125rem/1rem SF Pro Display;
$headline-bold: 600 0.8125rem/1rem SF Pro Display;
$subheadline-regular: 400 0.6875rem/0.875rem SF Pro Display;
$subheadline-bold: 600 0.6875rem/0.875rem SF Pro Display;
$body-regular: 400 0.8125rem/1rem SF Pro Display;
$body-bold: 600 0.8125rem/1rem SF Pro Display;
$callout-regular: 400 0.75rem/0.9375rem SF Pro Display;
$callout-bold: 600 0.75rem/0.9375rem SF Pro Display;
$footnote-regular: 400 0.625rem/0.8125rem SF Pro Display;
$footnote-bold: 600 0.625rem/0.8125rem SF Pro Display;
$caption-1-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-1-bold: 500 0.625rem/0.8125rem SF Pro Display;
$caption-2-regular: 400 0.625rem/0.8125rem SF Pro Display;
$caption-2-bold: 500 0.625rem/0.8125rem SF Pro Display;
